body {
    background-image: url(imgs/pawel-czerwinski-prMn9KINLtI-unsplash.jpg);
}

.container {
    background: rgba(255, 255, 255, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    width: 75%;
    height: 800px;
    border-radius: 2%;
}

/* ==================== Picture ==================== */

.selfie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.selfie img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* ==================== Information ==================== */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

.info p {
    margin-bottom: 0;
}

#name {
    font-weight: bold;
}

/* ==================== Socials ==================== */

.socials {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.socials svg {
    padding-right: 20px;
    width: 80px;
    height: 80px;
}
